menuconfig QCOM_VIDC_V4L2
	tristate "Qualcomm V4L2 based video driver"
	depends on ARCH_QCOM && VIDEO_V4L2
	depends on QCOM_VENUS_PIL
	depends on IOMMU_DMA
	select VIDEOBUF2_DMA_SG
	select QCOM_SCM

menuconfig MSM_VIDC_VMEM
        bool "Qualcomm Technologies Inc MSM VMEM driver"
        depends on ARCH_QCOM && QCOM_VIDC_V4L2
